<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Results Run Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Suite: <%= @run.runname unless @run.runname.nil? %></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="main.html">Overview<span class="sr-only">(current)</span></a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li class="inactive"><a href="errors.html">Errors</a></li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-2 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Overview</h1>
        <div class="row">
        <small class="m-l-sm">Run in <%= @run.environment %></small>
        <p class="pull-right text-white"><%= "Generated on: #{@run.runtime}" %><p></p>
        <small class="m-l-sm text-white">Test Execution
          Time: <%= Time.at(@run.duration.to_f/1000000000).utc.strftime("%H:%M:%S.%L") unless @run.duration.nil? %>
        </small>
        </div>
        <div class="row placeholders">
          <div class="col-xs-6 col-sm-3 placeholder">
            <div id="feature-container"></div>
            <h4>Features</h4>
            <span class="text-muted">Execution Status</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <div id="scenario-container"></div>
            <h4>Scenarios</h4>
            <span class="text-muted">Execution Status</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <div id="step-container"></div>
            <h4>Steps</h4>
            <span class="text-muted">Execution Status</span>
          </div>
        </div>

        <h2 class="sub-header">Features</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Feature Name</th>
                <th>Execution Status</th>
              </tr>
            </thead>
            <tbody>
              <% for @item in @run.features %>
                <tr>
                <td><%= @item.name %></td>
                <td align="center"><% temp_value = @item.passing.percent_of(@item.total) %>
                    <% temp_color = if temp_value == 100.0
                                      'btn-success'
                                    elsif temp_value >= 90.0
                                      'btn-warning'
                                    else
                                      'btn-danger'
                                    end %>
                    <a class="btn btn-lg <%=temp_color %> text-center" href="<%= "#{@item.uuid}.html" %>">
                      <%= "#{sprintf('%.2f', temp_value)}%" %>
                    </a>
                </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>
    <!--<script src="https://code.highcharts.com/stock/highstock.js"></script>-->
    <script type="text/javascript">
        Highcharts.chart("feature-container", {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title:{
                text:''
            },
            subTitle:{
                text:''
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}% ({point.y})</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    size: 200,
                    dataLabels: {
                        enabled: false,
                        format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Features',
                colorByPoint: true,
                data: [
                    { name: 'Other', y: <%= @run.features.select { |f| f.outcome != 'passed' and f.outcome!='failed' }.count %>, color: 'yellow' },
                    { name: 'Fail', y: <%= @run.features.select { |f| f.outcome == 'failed' }.count %>, color: 'red' },
                    { name: 'Pass', y: <%= @run.features.select { |f| f.outcome == 'passed' }.count %>, color: 'green' },
                    ]
        }]});
        Highcharts.chart("scenario-container", {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title:{
                text:''
            },
            subTitle:{
                text:''
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}% ({point.y})</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    size: 200,
                    dataLabels: {
                        enabled: false,
                        format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Scenarios',
                colorByPoint: true,
                data: [
                    { name: 'Other', y: <%= @run.features.map { |f| f.scenarios }.flatten.select { |s| s.outcome != 'passed' and s.outcome!='failed' }.count %>, color: 'yellow' },
                    { name: 'Fail', y: <%= @run.features.map { |f| f.scenarios }.flatten.select { |s| s.outcome == 'failed' }.count %>, color: 'red' },
                    { name: 'Pass', y: <%= @run.features.map { |f| f.scenarios }.flatten.select { |s| s.outcome == 'passed' }.count %>, color: 'green' },
                ]
            }]});
        Highcharts.chart("step-container", {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title:{
                text:''
            },
            subTitle:{
                text:''
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}% ({point.y})</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: false,
                    cursor: 'pointer',
                    size: 200,
                    dataLabels: {
                        enabled: false,
                        format: '<b>{point.name}</b>: {point.percentage:.1f}%',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Steps',
                colorByPoint: true,
                data: [
                    { name: 'Other', y: <%= @run.features.map { |f| f.scenarios }.flatten.map { |s| s.steps }.flatten.select { |st| st.outcome != 'passed' && st.outcome != 'failed' }.count %>, color: 'yellow' },
                    { name: 'Fail', y: <%= @run.features.map { |f| f.scenarios }.flatten.map { |s| s.steps }.flatten.select { |st| st.outcome == 'failed' }.count %>, color: 'red' },
                    { name: 'Pass', y: <%= @run.features.map { |f| f.scenarios }.flatten.map { |s| s.steps }.flatten.select { |st| st.outcome == 'passed' }.count %>, color: 'green' },
                ]
            }]});
    </script>
  </body>
</html>
<style>
  /*
 * Base structure
 */

  /* Move down content because we have a fixed navbar that is 50px tall */
  body {
    padding-top: 50px;
  }


  /*
   * Global add-ons
   */

  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  /*
   * Top navigation
   * Hide default border to remove 1px line.
   */
  .navbar-fixed-top {
    border: 0;
  }

  /*
   * Sidebar
   */

  /* Hide for mobile, show later */
  .sidebar {
    display: none;
  }
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 51px;
      bottom: 0;
      left: 0;
      z-index: 1000;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      background-color: #f5f5f5;
      border-right: 1px solid #eee;
    }
  }

  /* Sidebar navigation */
  .nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
  }
  .nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
  }


  /*
   * Main content
   */

  .main {
    padding: 20px;
  }
  @media (min-width: 768px) {
    .main {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  .main .page-header {
    margin-top: 0;
  }


  /*
   * Placeholder dashboard ideas
   */

  .placeholders {
    margin-bottom: 30px;
    text-align: center;
  }
  .placeholders h4 {
    margin-bottom: 0;
  }
  .placeholder {
    margin-bottom: 20px;
  }
  .placeholder img {
    display: inline-block;
    border-radius: 50%;
  }

</style>